html {
  background-color: black;
}

#ScreenSize {
  position: absolute;
  width: 600px;
  height: 800px;
  background-color: rgb(255, 251, 201);

}

#FightOneTitle {
  font-family:Georgia, 'Times New Roman', Times, serif;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
}

#FightOneTextBlurb {
  font-size: large;
  padding-right: 20px;
  padding-left: 30px;
  margin-top: -10px;
}

#CampaignFightOneButton {
  border-width: 5px;
  border-radius: 1px;
  margin-left: 35px;
  font-size: large;
}


#FightTwoTitle {
  font-family:Georgia, 'Times New Roman', Times, serif;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
}

#FightTwoTextBlurb {
  font-size: large;
  margin-right: 20px;
  margin-left: 30px;
  margin-top: -10px;
}

#CampaignFightTwoButton {
  border-width: 5px;
  border-radius: 1px;
  margin-left: 35px;
  font-size: large;
}


#FightThreeTitle {
  font-family:Georgia, 'Times New Roman', Times, serif;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
}

#FightThreeTextBlurb {
  font-size: large;
  margin-right: 20px;
  margin-left: 30px;
  margin-top: -10px;
}

#CampaignFightThreeButton {
  border-width: 5px;
  border-radius: 1px;
  margin-left: 35px;
  font-size: large;
}


#FightFourTitle {
  font-family:Georgia, 'Times New Roman', Times, serif;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
}

#FightFourTextBlurb {
  font-size: large;
  margin-right: 20px;
  margin-left: 30px;
  margin-top: -10px;
}

#CampaignFightFourButton {
  border-width: 5px;
  border-radius: 1px;
  margin-left: 35px;
  font-size: large;
}






#BackButton {
  position: absolute;
  top: 5px;
  left: 10px;
  height: 30px;
  width: 200px;
}

