html {
  background-color: black;
}

#ScreenSize {
  position: absolute;
  width: 600px;
  height: 800px;
  background-color: rgb(255, 251, 201);

}

h1 {
  position: absolute;
  font-family:Georgia, 'Times New Roman', Times, serif;
  left: 100px;
}

#AttackMeterHeader {
    padding-top: 50px;
    padding-left: 5px;
}

#AttackMeterText {
    margin-top: -10px;
    padding-left: 5px;
}
#EnemyAttackHeader {
    margin-top: 10px;
    padding-left: 5px
}
#EnemyAttackText {
    margin-top: -10px;
    padding-left: 5px;
}
#AllyAttackHeader {
    margin-top: 10px;
    padding-left: 5px
}
#AllyAttackText {
    margin-top: -10px;
    padding-left: 5px;
}