html {
  background-color: black;
  
}

#ScreenSize {
  position: absolute;
  width: 600px;
  height: 800px;
  background-color: rgb(255, 251, 201);

}

h1 {
  position: absolute;
  font-family:Georgia, 'Times New Roman', Times, serif;
  left: 175px;
}

/* HEADSHOTS */

.Headshot {
    position: absolute;
    width: 125px;
    height: 125px;
}

#AngelCatHeadshotImage {
    position: absolute;
    left: 20px;
    top: 100px;
}

#BlobHeadshotImage {
    position: absolute;
    right: 20px;
    top: 350px;
}

#BoatHeadshotImage {
    position: absolute;
    left: 20px;
    top: 350px;
}

#ClockHeadshotImage {
    position: absolute;
    left: 145px;
    top: 100px;
}

#DevilCatHeadshotImage {
    position: absolute;
    right: 145px;
    top: 100px;
}

#CarHeadshotImage {
    position: absolute;
    right: 20px;
    top: 100px
}

#OrigamiHeadshotImage {
    position: absolute;
    right: 145px;
    top: 225px;
}

#DNAHeadshotImage {
    position: absolute;
    right: 20px;
    top: 225px
}

#HandManHeadshotImage {
    position: absolute;
    right: 145px;
    top: 350px;
}

#SlugcatHeadshotImage {
    position: absolute;
    left: 20px;
    top: 225px;
    
}

#FlibbitHeadshotImage {
    position: absolute;
    left: 145px;
    top: 350px;
}

#SquareHeadshotImage {
    position: absolute;
    left: 145px;
    top: 225px;
}

.Button {
    width: 0px;
    height: 0px;
}

#SelectionMenu {
    position: absolute;
    background-color: rgb(172, 172, 172);
    left: 0px;
    bottom: 0px;
    width: 600px;
    height: 300px;
}