html {
  background-color: black;
}

#ScreenSize {
  position: absolute;
  width: 600px;
  height: 800px;
  background-color: rgb(255, 251, 201);

}

h1 {
  position: absolute;
  font-family:Georgia, 'Times New Roman', Times, serif;
  left: 100px;
  top: -10px;
}

#AttackMeterHeader {
    padding-top: 35px;
    padding-left: 5px;
}

#AttackMeterText {
    margin-top: -15px;
    padding-left: 5px;
}
#EnemyAttackHeader {
    margin-top: 5px;
    padding-left: 5px
}
#EnemyAttackText {
    margin-top: -15px;
    padding-left: 5px;
}
#AllyAttackHeader {
    margin-top: 5px;
    padding-left: 5px
}
#AllyAttackText {
    margin-top: -15px;
    padding-left: 5px;
}

#ContinueButton {
    font-size: larger;
    border-radius: 3px;
    position: absolute;
    left: 100px;
    width: 400px;
    height:50px;
}

#TutorialFightButton {
    font-size: larger;
    border-radius: 3px;
    position: absolute;
    left: 150px;
}