html {
  background-color: black;
  
}

#ScreenSize {
  position: absolute;
  width: 600px;
  height: 800px;
  background-color: rgb(255, 251, 201);

}

h1 {
  position: absolute;
  font-family:Georgia, 'Times New Roman', Times, serif;
  left: 175px;
}

/* HEADSHOTS */

.Headshot {
    position: absolute;
    width: 100px;
    height: 100px;
}

#AngelCatHeadshotImage {
    position: absolute;
    left: 20px;
    top: 100px;
}

#BlobHeadshotImage {
    position: absolute;
    left: 20px;
    top: 200px;
}
.Button {
    width: 0px;
    height: 0px;
}

