/*  */
/* Core Stuff */
html {
  background-color: black;
  
}

#ScreenSize {
  position: absolute;
  width: 600px;
  height: 800px;
  background-color: rgb(255, 251, 201);

}

/* Progress Bars One*/
#AllyOneAttackMeterDiv {
  position: absolute;
  bottom: 440px;
  right: 20px;
}
#EnemyOneAttackMeterDiv {
  position: absolute;
  bottom: 440px;
  left: 20px;
}
#EnemyOneHealthDiv {
  position: absolute;
  bottom: 185px;
  right: 20px;
  
}
#EnemyOneHealth {
  height: 30px;
  background-color: rgb(0, 255, 21);
  color:red;
}
#AllyOneHealthDiv {
  position: absolute;
  bottom: 185px;
  left: 20px;
}
#AllyOneHealth {
  height: 30px;
  background-color: rgb(0, 255, 21);
  color:red;
}

/* Progress Bars Two*/
#AllyTwoAttackMeterDiv {
  position: absolute;
  bottom: 675px;
  right: 20px;
}
#EnemyTwoAttackMeterDiv {
  position: absolute;
  bottom: 675px;
  left: 20px;
}
#EnemyTwoHealthDiv {
  position: absolute;
  bottom: 450px;
  right: 20px;
  
}
#AllyTwoHealthDiv {
  position: absolute;
  bottom: 450px;
  left: 20px;
}

/* Images */
#AllyOneImage {
  position: absolute;
  left: 50px;
  bottom: 240px;
  max-height:200px;
  max-width: 150px;
}
#AllyTwoImage {
  position: absolute;
  left: 30px;
  bottom: 500px;
  max-height:200px;
  max-width: 150px;
}
#EnemyOneImage {
  position: absolute;
  right: 50px;
  bottom: 240px;
  max-height:200px;
  max-width: 150px;
}
#EnemyTwoImage {
  position: absolute;
  right: 20px;
  bottom: 500px;
  max-height:200px;
  max-width: 150px;
}

/* Menu */
h1 {
  position: absolute;
  font-family:Georgia, 'Times New Roman', Times, serif;
  left: 175px;
}
button {
  border-radius: 50px;
  margin-left: 200px;
}

#GameOver {
  position: absolute;
  top: 75px;
  left: 120px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: xx-large;
  font-weight: bolder;
}
#StartButton {
  position: absolute;
  background-color:rgb(255, 255, 255);
  top: 65px;
  left: 60px;
  font-size: larger;
}

#TutorialButton {
  position: absolute;
  background-color: rgb(177, 177, 177);
  top: 25px;
  left: 250px;
  font-size: larger;
}

#CoreMenu {
  position: absolute;
  background-color: lightgray;
  width: 600px;
  height: 200px;
  Bottom: 0px;
}

#AttackButton {
  position: absolute;
  left: 75px;
  bottom: 135px;
  width: 300px;
  height: 50px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#HealButton {
  position: absolute;
  left: 50px;
  bottom: 80px;
  width: 300px;
  height: 50px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.TutorialText {
  margin-top: 60px;
}

#BackButton {
  position: absolute;
  background-color: rgb(177, 177, 177);
  top: 25px;
  left: 250px;
  font-size: larger;
}
/* Attack Logs */
#EnemyOneAttackLog {
  position: absolute;
  bottom: 375px;
  left: 25px;
  text-align: right;
}
#AllyOneAttackLog {
  position: absolute;
  bottom: 375px;
  left: 25px;
  text-align: left;
}
#EnemyTwoAttackLog {
  position: absolute;
  bottom: 475px;
  left: 270px;
  text-align: right;
}
#AllyTwoAttackLog {
  position: absolute;
  bottom: 630px;
  left: 200px;
  text-align: left;
}
