html {
  background-color: black
}


#ScreenSize {
  position: absolute;
  width: 600px;
  height: 800px;
  background-color: rgb(255, 251, 201);
  left: 600px;
}
button {
  border-radius: 50px;
  margin-left: 200px;
}

#EnemyHealth {
  height: 30px;
  background-color: rgb(0, 255, 21);
  color:red;
}

#StartButton {
  background-color:Green;
}

#DevilCat {
  width: 200px;
}

#AngelCat {
  width: 200px;
}
