/*  */
/* Core Stuff */
html {
  background-color: black;
  
}

#ScreenSize {
  position: absolute;
  width: 600px;
  height: 800px;
  background-color: rgb(255, 251, 201);

}

/* Progress Bars One*/
#AllyOneAttackMeterDiv {
  position: absolute;
  bottom: 440px;
  right: 20px;
}
#EnemyOneAttackMeterDiv {
  position: absolute;
  bottom: 440px;
  left: 20px;
}
#EnemyOneHealthDiv {
  position: absolute;
  bottom: 185px;
  left: 20px;
  
}
#EnemyOneHealth {
  height: 30px;
  background-color: rgb(0, 255, 21);
  color:red;
}
#AllyOneHealthDiv {
  position: absolute;
  bottom: 185px;
  right: 20px;
}
#AllyOneHealth {
  height: 30px;
  background-color: rgb(0, 255, 21);
  color:red;
}

#AllyTwoHealth {
  height: 30px;
  background-color: rgb(0, 255, 21);
  color:red;
}

#EnemyTwoHealth {
  height: 30px;
  background-color: rgb(0, 255, 21);
  color:red;
}
/* Progress Bars Two*/
#AllyTwoAttackMeterDiv {
  position: absolute;
  bottom: 675px;
  right: 20px;
}
#EnemyTwoAttackMeterDiv {
  position: absolute;
  bottom: 675px;
  left: 20px;
}
#EnemyTwoHealthDiv {
  position: absolute;
  bottom: 450px;
  left: 20px;
  
}
#AllyTwoHealthDiv {
  position: absolute;
  bottom: 450px;
  right: 20px;
}

/* Images */
#AllyOneImage {
  position: absolute;
  right: 50px;
  bottom: 240px;
  max-height:200px;
  max-width: 150px;
}
#AllyTwoImage {
  position: absolute;
  right: 30px;
  bottom: 500px;
  max-height:200px;
  max-width: 150px;
}
#EnemyOneImage {
  position: absolute;
  left: 50px;
  bottom: 240px;
  max-height:200px;
  max-width: 150px;
}
#EnemyTwoImage {
  position: absolute;
  left: 20px;
  bottom: 500px;
  max-height:200px;
  max-width: 150px;
}

/* Menu */
h1 {
  position: absolute;
  font-family:Georgia, 'Times New Roman', Times, serif;
  left: 175px;
}
button {
  border-radius: 50px;
  margin-left: 200px;
}

#GameOver {
  position: absolute;
  top: 75px;
  left: 120px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: xx-large;
  font-weight: bolder;
}
#StartButton {
  position: absolute;
  background-color:rgb(255, 255, 255);
  top: 65px;
  left: 60px;
  font-size: larger;
}

#TutorialButton {
  position: absolute;
  background-color: rgb(177, 177, 177);
  top: 25px;
  left: 250px;
  font-size: larger;
}

#CoreMenu {
  position: absolute;
  background-color: lightgray;
  width: 600px;
  height: 200px;
  Bottom: 0px;
}

#AttackButton {
  position: absolute;
  left: 75px;
  bottom: 135px;
  width: 300px;
  height: 50px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#HealButton {
  position: absolute;
  left: 50px;
  bottom: 80px;
  width: 300px;
  height: 50px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.TutorialText {
  margin-top: 60px;
}

#BackButton {
  position: absolute;
  background-color: rgb(177, 177, 177);
  top: 25px;
  left: 250px;
  font-size: larger;
}
/* Attack Logs */
#EnemyOneAttackLog {
  position: absolute;
  bottom: 375px;
  left: 200px;
  text-align: left;
  max-width: 200px;
}
#AllyOneAttackLog {
  position: absolute;
  bottom: 220px;
  right: 190px;
  text-align: right;
  max-width: 200px;
}
#EnemyTwoAttackLog {
  position: absolute;
  bottom: 630px;
  left: 200px;
  text-align: left;
  max-width: 200px;
}
#AllyTwoAttackLog {
  position: absolute;
  bottom: 490px;
  right: 190px;
  text-align: right;
  max-width: 200px;
}

/* AttackMeu */
#MenuDivider {
  position: absolute;
  background-color: black;
  width: 10px;
  height: 300px;
  top: 0px;
  left: 295px
}
#AllyOneLabel {
  position: absolute;
  top: -20px;
  left: 5px;
  font-size: x-large;
  font-weight: 700;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#AllyTwoLabel {
  position: absolute;
  top: -15px;
  right: 5px;
  font-size: x-large;
  font-weight: 700;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#AllyOneAttackOne {
  position: absolute;
  width: 175px;
  height: 30px;
  top: 40px;
  left: -190px;
  font-size: large;
  font-weight: 300;
}

#AllyOneAttackTwo {
  position: absolute;
  width: 175px;
  height: 30px;
  top: 80px;
  left: -190px;
  font-size: large;
  font-weight: 300;
}

#AllyOneAttackThree {
  position: absolute;
  width: 175px;
  height: 30px;
  top: 120px;
  left: -190px;
  font-size: large;
  font-weight: 300;
}

#LockInAllyOne {
  position: absolute;
  width: 150px;
  height: 30px;
  bottom: 10px;
  left: -190px;
  font-size: large;
  font-weight: 300;
}

#TargetEnemyOneAllyOne {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 100px;
  left: 5px;
  font-size: medium;
  font-weight: 300;
}

#TargetEnemyTwoAllyOne {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 10px;
  left: 5px;
  font-size: medium;
  font-weight: 300;
}

#AllyTwoAttackOne {
  position: absolute;
  width: 175px;
  height: 30px;
  top: 40px;
  right: 10px;
  font-size: large;
  font-weight: 300;
}

#AllyTwoAttackTwo {
  position: absolute;
  width: 175px;
  height: 30px;
  top: 80px;
  right: 10px;
  font-size: large;
  font-weight: 300;
}

#AllyTwoAttackThree {
  position: absolute;
  width: 175px;
  height: 30px;
  top: 120px;
  right: 10px;
  font-size: large;
  font-weight: 300;
}

#LockInAllyTwo {
  position: absolute;
  width: 150px;
  height: 30px;
  bottom: 10px;
  right: 10px;
  font-size: large;
  font-weight: 300;
}

#TargetEnemyOneAllyTwo {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 100px;
  left: 115px;
  font-size: medium;
  font-weight: 300;
}

#TargetEnemyTwoAllyTwo {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 10px;
  left: 115px;
  font-size: medium;
  font-weight: 300;
}

#AllyOneVirusMarker {
  position: absolute;
  width: 50px;
  bottom: 375px;
  right: 20px;
}

#AllyOneFireMarker {
  position: absolute;
  width: 50px;
  bottom: 375px;
  right: 150px;
}

#AllyTwoVirusMarker {
  position: absolute;
  width: 50px;
  top: 130px;
  right: 20px;
}

#AllyTwoFireMarker {
  position: absolute;
  width: 50px;
  top: 130px;
  right: 150px;
}

#AllyOneVirusText {
  position: absolute;
  text-align: right;
  right: 70px;
  top: 150px;
}

#AllyOneFireText {
  position: absolute;
  text-align: right;
  right: 110px;
  top: 110px;
}

#AllyTwoVirusText {
  position: absolute;
  text-align: right;
  right: 70px;
  bottom: 360px;
}

#AllyTwoFireText {
  position: absolute;
  text-align: right;
  right: 110px;
  bottom: 395px;
}