/*  */
/* Core Stuff */
html {
  background-color: black;
  
}

#ScreenSize {
  position: absolute;
  width: 600px;
  height: 800px;
  background-color: rgb(255, 251, 201);
  left: 700px;
}

/* Progress Bars */
#PlayerAttackMeterDiv {
  position: absolute;
  bottom: 475px;
  left: 350px;
}

#EnemyAttackMeterDiv {
  position: absolute;
  bottom: 475px;
  left: 25px;
}
/* Images */
#DevilCat {
  width: 200px;
  position: absolute; 
  bottom: 200px;
}

#AngelCat {
  width: 200px;
  position: absolute;
  left: 325px;
  bottom: 200px;
}

/* Menu */
button {
  border-radius: 50px;
  margin-left: 200px;
}
#EnemyHealthDiv {
  position: absolute;
  bottom: 185px;
  left: 25px;
}
#EnemyHealth {
  height: 30px;
  background-color: rgb(0, 255, 21);
  color:red;
}
#PlayerHealthDiv {
  position: absolute;
  bottom: 185px;
  left: 350px;
}
#StartButton {
  background-color:Green;
}

#CoreMenu {
  position: absolute;
  background-color: lightgray;
  width: 600px;
  height: 200px;
  Bottom: 0px;
}

#AttackButton {
  position: absolute;
  left: 75px;
  bottom: 135px;
  width: 300px;
  height: 50px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#HealButton {
  position: absolute;
  left: 50px;
  bottom: 80px;
  width: 300px;
  height: 50px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}