/*  */
/* Core Stuff */
html {
  background-color: black;
  
}

#ScreenSize {
  position: absolute;
  width: 600px;
  height: 800px;
  background-color: rgb(255, 251, 201);

}

/* Progress Bars */
#AllyOneAttackMeterDiv {
  position: absolute;
  bottom: 475px;
  left: 350px;
}
#EnemyOneAttackMeterDiv {
  position: absolute;
  bottom: 475px;
  left: 25px;
}
#EnemyOneHealthDiv {
  position: absolute;
  bottom: 185px;
  left: 25px;
}
#EnemyOneHealth {
  height: 30px;
  background-color: rgb(0, 255, 21);
  color:red;
}
#AllyOneHealthDiv {
  position: absolute;
  bottom: 185px;
  left: 350px;
}
#AllyOneHealth {
  height: 30px;
  background-color: rgb(0, 255, 21);
  color:red;
}
/* Images */
#DevilCat {
  width: 200px;
  position: absolute; 
  bottom: 200px;
}

#AngelCat {
  width: 200px;
  position: absolute;
  left: 325px;
  bottom: 200px;
}

/* Menu */
h1 {
  position: absolute;
  font-family:Georgia, 'Times New Roman', Times, serif;
  left: 175px;
}
button {
  border-radius: 50px;
  margin-left: 200px;
}

#GameOver {
  position: absolute;
  top: 75px;
  left: 120px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: xx-large;
  font-weight: bolder;
}
#StartButton {
  position: absolute;
  background-color:rgb(255, 255, 255);
  top: 65px;
  left: 60px;
  font-size: larger;
}

#TutorialButton {
  position: absolute;
  background-color: rgb(177, 177, 177);
  top: 25px;
  left: 250px;
  font-size: larger;
}

#CoreMenu {
  position: absolute;
  background-color: lightgray;
  width: 600px;
  height: 200px;
  Bottom: 0px;
}

#AttackButton {
  position: absolute;
  left: 75px;
  bottom: 135px;
  width: 300px;
  height: 50px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#HealButton {
  position: absolute;
  left: 50px;
  bottom: 80px;
  width: 300px;
  height: 50px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#EnemyOneAttackLog {
  position: absolute;
  bottom: 475px;
  left: 25px;
}
#AllyOneAttackLog {
  position: absolute;
  bottom: 475px;
  left: 350px;
}

.TutorialText {
  margin-top: 60px;
}

#BackButton {
  position: absolute;
  background-color: rgb(177, 177, 177);
  top: 25px;
  left: 250px;
  font-size: larger;
}